<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oax.mapper.admin.ResourcesMapper">
    <resultMap id="BaseResultMap" type="com.oax.entity.admin.Resources">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="resUrl" jdbcType="VARCHAR" property="resurl"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="parentId" jdbcType="INTEGER" property="parentid"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, resUrl, type, parentId, sort,method
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oax_admin.resources
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from oax_admin.resources
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.oax.entity.admin.Resources">
        insert into oax_admin.resources (id, name, resUrl,
        type, parentId, sort
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{resurl,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.oax.entity.admin.Resources">
        insert into oax_admin.resources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="resurl != null">
                resUrl,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="parentid != null">
                parentId,
            </if>
            <if test="sort != null">
                sort,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="resurl != null">
                #{resurl,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.oax.entity.admin.Resources">
        update oax_admin.resources
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="resurl != null">
                resUrl = #{resurl,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{resurl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="parentid != null">
                parentId = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.oax.entity.admin.Resources">
        update oax_admin.resources
        set name = #{name,jdbcType=VARCHAR},
        resUrl = #{resurl,jdbcType=VARCHAR},
        method = #{method,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        parentId = #{parentid,jdbcType=INTEGER},
        sort = #{sort,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectAll" resultType="com.oax.entity.admin.Resources">
        select
        <include refid="Base_Column_List"/>
        from oax_admin.resources
    </select>
    <select id="selectUserResources" resultType="com.oax.entity.admin.Resources">

        SELECT re.id,re.name,re.parentId,re.resUrl,re.method
        FROM oax_admin.resources re LEFT JOIN oax_admin.role_resources rr
        ON re.id = rr.resourcesId
        LEFT JOIN oax_admin.user_role ur
        ON rr.roleId =ur.roleId
        WHERE ur.userId=#{userId}
        <if test="type != null">
            AND re.type= #{type}
        </if>
        GROUP BY re.id
        ORDER BY re.sort ASC

    </select>
    <select id="selectResourcesListWithSelected" resultType="com.oax.entity.admin.vo.MenuVo">
        SELECT
        re.id `id`,
        re.name `name`,
        re.parentId `parentid`,
        re.resUrl `resurl`,
        re.type `type`,
        (CASE WHEN EXISTS(SELECT 1
        FROM oax_admin.role_resources rr
        WHERE rr.resourcesId = re.id AND rr.roleId = #{rid})
        THEN true
        ELSE false END) AS checked
        FROM oax_admin.resources re
        WHERE re.parentId != 0
        ORDER BY re.sort ASC
    </select>
    <select id="selectAllByType" resultType="com.oax.entity.admin.Resources">
        SELECT re.id,re.name,re.parentId,re.resUrl,re.method
        FROM oax_admin.resources re
        WHERE
        re.type= #{type}
        GROUP BY re.id
        ORDER BY re.sort ASC
    </select>
    <select id="selectUserMenu" resultType="com.oax.entity.admin.vo.MenuVo">


        SELECT re.id,re.name,re.parentId,re.resUrl,re.method
        FROM oax_admin.resources re LEFT JOIN oax_admin.role_resources rr
        ON re.id = rr.resourcesId
        LEFT JOIN oax_admin.user_role ur
        ON rr.roleId =ur.roleId
        WHERE ur.userId=#{userId}
        AND re.type= 1
        GROUP BY re.id
        ORDER BY re.sort ASC

    </select>
</mapper>