<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oax.mapper.ctc.CtcOrderLogMapper">

    <select id="getBeforeAppealStatus" resultType="com.oax.entity.enums.CtcOrderStatus">
        select after_status from ctc_order_log where ctc_order_id = #{ctcOrderId} and 1 >= after_status  order by id desc limit 1
    </select>
</mapper>
