<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oax.mapper.activity.PanicBuyOrderMapper">
    <update id="updateCloseByActivityId">
        update panic_buy_order set `status` = 2 where activity_id = #{activityId} and `status` = 0
    </update>

    <select id="selectByUserIdAndActivityId" resultType="com.oax.entity.activity.PanicBuyOrder">
        select * from panic_buy_order where user_id = #{userId} and activity_id = #{activityId}
    </select>

    <select id="selectForWeb" resultType="com.oax.entity.activity.PanicBuyOrder">
        select * from panic_buy_order where user_id = #{userId}
    </select>
</mapper>